@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 11% 23%;

    --card: 0 0% 100%;
    --card-foreground: 222 11% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 11% 23%;

    --primary: 112 70% 37%;
    --primary-foreground: 0 0% 100%;

    --secondary: 223 4% 23%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 13% 93%;
    --muted-foreground: 223 3% 44%;

    --accent: 220 20% 96%;
    --accent-foreground: 222 11% 23%;

    --destructive: 4 76% 47%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 3% 57%;
    --input: 220 3% 57%;
    --ring: 209 100% 39%;

    --radius: 0.5rem;
  }

  [data-theme="quickbooks"][data-colorscheme="dark"] {
    --background: 0 0% 16%;
    --foreground: 220 13% 93%;

    --card: 240 3% 22%;
    --card-foreground: 220 13% 93%;

    --popover: 240 3% 22%;
    --popover-foreground: 220 13% 93%;

    --primary: 96 100% 35%;
    --primary-foreground: 0 0% 16%;

    --secondary: 223 4% 23%;
    --secondary-foreground: 0 0% 100%;

    --muted: 223 4% 23%;
    --muted-foreground: 220 4% 76%;

    --accent: 223 4% 23%;
    --accent-foreground: 220 13% 93%;

    --destructive: 6 100% 74%;
    --destructive-foreground: 0 0% 16%;

    --border: 220 4% 76%;
    --input: 220 3% 57%;
    --ring: 196 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
